aliases:
  - &drupal_defaults
    docker:
      - image: andrewberry/drupal_tests:0.3.4
      - image: selenium/standalone-chrome-debug:3.7.1-beryllium
      - image: mariadb:10.3
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: 1
    working_directory: /var/www/html/modules/custom
  - &defaults
    docker:
      - image: circleci/node:8-browsers
  - &restore-modules
    restore_cache:
      keys:
        - v1-dependencies-{{ checksum "yarn.lock" }}
  - &restore-build
    restore_cache:
      keys:
        - build-v1-{{ .Branch }}-{{ .Revision }}

version: 2
jobs:
  drupal_update_dependencies: &update_dependencies
    <<: *drupal_defaults
    steps:
      - checkout
      # Restore Composer Cache
      - restore_cache:
          keys:
            - v4-dependencies-{{ checksum "custom/admin_ui_support/composer.json" }}
            - v4-dependencies-
      - run:
          working_directory: /var/www/html
          command: |
            ./update-dependencies.sh $CIRCLE_PROJECT_REPONAME
      # Add JSON API
      - run:
            working_directory: /var/www/html
            command: /usr/local/bin/composer require drupal/jsonapi:^1.16
      # Save Composer Cache
      - save_cache:
          paths:
            - /root/.composer/cache/files
          key: v4-dependencies-{{ checksum "custom/admin_ui_support/composer.json" }}
      - persist_to_workspace:
          root: /var/www/html
          paths:
            - .
  drupal_unit_kernel_tests: &unit_kernel_tests
    <<: *drupal_defaults
    steps:
      - attach_workspace:
          at: /var/www/html
      - checkout
      - run:
          working_directory: /var/www/html
          command: export SYMFONY_DEPRECATIONS_HELPER="disabled"
      - run:
          working_directory: /var/www/html
          command: |
            ./test.sh admin_ui_support
      - store_test_results:
          path: /var/www/html/artifacts/phpunit
      - store_artifacts:
          path: /var/www/html/artifacts
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn install
      - run: yarn build
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - save_cache:
          paths:
            - build
            - node_modules
          key: build-v1-{{ .Branch }}-{{ .Revision }}

  lint:
    <<: *defaults
    steps:
      - checkout
      - *restore-build
      - run: yarn test:lint:ci
      - store_test_results:
          path: reports

  unit:
    <<: *defaults
    steps:
      - checkout
      - *restore-build
      - run: yarn test:unit:ci
      - store_test_results:
          path: reports

  dist:
    <<: *defaults
    steps:
      - add_ssh_keys:
          fingerprints:
            - "82:b8:cc:fe:02:24:17:b1:31:ba:dc:30:e1:01:7a:df"
      - checkout
      - *restore-build
      - run: |
          mv ~/project/build ~
          git config --global user.name "⬅️✌️➡️"
          git config --global user.email "no-reply@drupal.org"
          git clone git@github.com:jsdrupal/drupal-admin-ui-dist.git ~/build-repo
          mv ~/build-repo/.git ~/build/.git
          cd ~/build
          cp ~/project/.circleci/drupal-admin-ui--composer.json composer.json
          git add .
          if ! git diff-index --quiet HEAD --; then
              git commit -m "Auto build from master"
              git push origin master
          fi


  dist_support:
    <<: *defaults
    steps:
      - add_ssh_keys:
          fingerprints:
            - "6f:17:e5:59:16:41:04:82:3b:ba:fc:76:a7:b2:c8:6b"
      - checkout
      - *restore-build
      - run: |
          mv ~/project/admin_ui_support ~
          git config --global user.name "⬅️✌️➡️"
          git config --global user.email "no-reply@drupal.org"
          git clone git@github.com:jsdrupal/drupal-admin-ui-support-dist.git ~/build-repo
          rm -rf ~/admin_ui_support/.git
          mv ~/build-repo/.git ~/admin_ui_support/.git
          cd ~/admin_ui_support
          cp ~/project/.circleci/drupal-admin-ui-support--composer.json composer.json
          git add .
          if ! git diff-index --quiet HEAD --; then
              git commit -m "Auto build from master"
              git push origin master
          fi

workflows:
  version: 2
  drupal_test_and_lint:
    jobs:
      - drupal_update_dependencies
      - drupal_unit_kernel_tests:
          requires:
            - drupal_update_dependencies
  package:
    jobs:
      - build
      - lint:
          requires:
            - build
      - unit:
          requires:
            - build
      - dist:
          requires:
            - lint
            - unit
            - build
          filters:
           branches:
            only:
              - master
      - dist_support:
          requires:
            - lint
            - unit
            - build
          filters:
           branches:
            only:
              - master
