version: 2.1

aliases:
  - &node-modules-key
    v3-yarn-dependencies-{{ checksum "yarn.lock" }}

  - &composer-cache-key
    v3-composer-dependencies-

commands:
  build:
    steps:
    - checkout
    - restore_cache:
        keys:
        - *node-modules-key
    - run: |
        yarn install
        yarn build

  commit-and-push:
    parameters:
      message:
        type: string
        default: "Auto build from master"
      files:
        type: string
      destination_repo:
        type: string
    steps:
      - run:
          name: Configure git
          command: |
            git config --global user.name "⬅️✌️➡️"
            git config --global user.email "no-reply@drupal.org"
      - run:
          name: Overwrite files with build
          command: |
            mv << parameters.files >> ~/build-files
            git clone << parameters.destination_repo >> ~/build-repo
            rm -rf ~/build-files/.git
            mv ~/build-repo/.git ~/build-files/.git
            cd ~/build-files

      - run:
          name: Add and push
          command: |
              git add .
              if ! git diff-index --quiet HEAD --; then
                git commit -m "<< parameters.message >>"
                git push origin master
              fi

  fix-php-env:
    steps:
      - run:
          name: Install Drupal requirements
          command: |
            sudo apt-get install -y libpng-dev sqlite3
            sudo docker-php-ext-install gd

executors:
  node-executor:
    docker:
      - image: circleci/node:8-browsers
  php-node-executor:
    docker:
      - image: circleci/php:7.1-fpm-node-browsers

jobs:
  lint_unit:
    executor:
      name: node-executor
    steps:
    - build
    - save_cache:
        key: *node-modules-key
        paths:
        - node_modules
    - run: yarn test:lint
    - run: yarn test:unit
    - store_test_results:
        path: reports

  integration_phpunit_nightwatch:
      executor:
        name: php-node-executor
      steps:
        - fix-php-env
        - build
        - restore_cache:
            keys:
            - *composer-cache-key
        - run:
            name: Install Drupal
            command: |
                cd ~/project/demo
                composer config repositories.repo-name path "~/project/admin_ui_support"
                composer require justafish/drupal-admin-ui-support:dev-$CIRCLE_BRANCH
                composer install
                composer setup
        - save_cache:
            key: *composer-cache-key
            paths:
            - ~/.composer/cache
        - run:
            name: Set environment variables
            command: |
              export REACT_APP_DRUPAL_ROOT="~/project/demo"
              export REACT_APP_DRUPAL_BASE_URL="http://127.0.0.1:8888"
              export SIMPLETEST_BASE_URL=http://localhost:8888
              export SYMFONY_DEPRECATIONS_HELPER=disabled
        - run:
            name: Start Drupal and run Nightwatch and PHPUnit tests
            command: |
              cd ~/project/demo
              composer start &
              sleep 10
              cd ~/project
              yarn start &
              sleep 20
              yarn test:functional
              cd ~/project/demo
              ./vendor/bin/phpunit -c docroot/core --log-junit reports/phpunit.xml docroot/modules/contrib/drupal-admin-ui-support
        - store_test_results:
            path: ~/project/demo/drupal-admin-ui/reports/nightwatch
        - store_artifacts:
            path: ~/project/demo/drupal-admin-ui/reports/nightwatch
        - store_test_results:
            path: ~/project/demo/reports

  dist:
    executor:
      name: node-executor
    steps:
      - add_ssh_keys:
          fingerprints:
            - "82:b8:cc:fe:02:24:17:b1:31:ba:dc:30:e1:01:7a:df"
      - build
      - run: cp ~/project/.circleci/drupal-admin-ui--composer.json ~/project/build/composer.json
      - commit-and-push:
          files: ~/project/build
          destination_repo: git@github.com:jsdrupal/drupal-admin-ui-dist.git

  dist_support:
    executor:
      name: node-executor
    steps:
      - add_ssh_keys:
          fingerprints:
            - "6c:c9:15:82:34:e7:30:e2:91:1b:ea:e2:06:b2:cf:e0"
      - checkout
      - commit-and-push:
          files: ~/project/admin_ui_support
          destination_repo: git@github.com:jsdrupal/drupal-admin-ui-support-dist.git

  dist_demo:
    executor:
      name: php-node-executor
    steps:
    - add_ssh_keys:
        fingerprints:
          - "1e:cb:02:bc:68:40:3c:31:40:5f:45:b5:55:c8:02:24"
    - fix-php-env
    - checkout
    - run:
        name: Update composer.lock
        command: |
          cd ~/project/demo
          composer update --lock
    - commit-and-push:
        message: "Auto update composer.lock from admin-ui-support-dist build"
        files: ~/project/demo
        destination_repo: git@github.com:jsdrupal/drupal-admin-ui-demo.git

workflows:
  version: 2
  test:
    jobs:
      - integration_phpunit_nightwatch
      - lint_unit
      - dist:
          requires:
            - lint_unit
            - integration_phpunit_nightwatch
          filters:
           branches:
            only:
              - master
      - dist_support:
          requires:
            - lint_unit
            - integration_phpunit_nightwatch
          filters:
           branches:
            only:
              - master
      - dist_demo:
          requires:
            - dist_support
          filters:
            branches:
              only:
              - master
