version: 2.1

aliases:
  - &yarn-cache
    v4-yarn-cache

  - &composer-cache
    v4-composer-cache

commands:

  start-project:
    steps:
      - checkout
      - restore_cache:
          keys:
            - *yarn-cache
      - restore_cache:
          keys:
            - *composer-cache
      - run:
          name: Start Docker
          command: |
            set -x
            docker-compose build
            docker-compose up -d
            ./.docker/check-ready.sh
      - save_cache:
          key: *composer-cache
          paths:
            - ~/.composer/cache
      - save_cache:
          key: *yarn-cache
          paths:
            - ~/.cache/yarn

  commit-and-push:
    parameters:
      message:
        type: string
        default: "Auto build from master"
      files:
        type: string
      destination_repo:
        type: string
      ssh_key_fingerprint:
        type: string
    steps:
      - add_ssh_keys:
          fingerprints:
            - << parameters.ssh_key_fingerprint >>
      - run:
          name: Configure git
          command: |
            git config --global user.name "⬅️✌️➡️"
            git config --global user.email "no-reply@drupal.org"
      - run:
          name: Overwrite files with build
          command: |
            rm -rf ~/build-files
            rm -rf ~/build-repo
            mv << parameters.files >> ~/build-files
            git clone << parameters.destination_repo >> ~/build-repo
            rm -rf ~/build-files/.git
            mv ~/build-repo/.git ~/build-files/.git

      - run:
          name: Add and push
          command: |
              cd ~/build-files
              git add .
              if ! git diff-index --quiet HEAD --; then
                git commit -m "<< parameters.message >>"
                git push origin master
              fi

jobs:
  test_node:
    machine: true
    steps:
      - start-project
      - run: docker exec -it drupal_admin_ui_drupal drush user:password admin admin
      - run: docker exec -it -e REACT_APP_DRUPAL_BASE_URL=http://drupal drupal_admin_ui_node yarn workspace admin-ui build
      - run: docker exec -it -e REACT_APP_DRUPAL_BASE_URL=http://drupal -e NIGHTWATCH_LOGIN_admin_PASSWORD=admin drupal_admin_ui_node yarn test
      - store_test_results:
          path: ~/project/packages/admin-ui/reports

  test_drupal:
    machine: true
    steps:
      - start-project
      - run: docker exec -it drupal_admin_ui_drupal su -m apache -s /bin/sh -c "composer test"
      - store_test_results:
          path: ~/project/packages/admin-ui/reports

  dist:
    machine: true
    steps:
      - start-project

      # This pushes to https://github.com/jsdrupal/drupal-admin-ui-dist
      # which is then distributed to https://packagist.org/packages/justafish/drupal-admin-ui
      - run: cp ~/project/.circleci/drupal-admin-ui--composer.json ~/project/packages/admin-ui/build/composer.json
      - commit-and-push:
          files: ~/project/packages/admin-ui/build
          destination_repo: git@github.com:jsdrupal/drupal-admin-ui-dist.git
          ssh_key_fingerprint: "82:b8:cc:fe:02:24:17:b1:31:ba:dc:30:e1:01:7a:df"

      # This pushes to https://github.com/jsdrupal/drupal-admin-ui-support-dist
      # which is then distributed at https://packagist.org/packages/justafish/drupal-admin-ui-support
      - commit-and-push:
          files: ~/project/admin_ui_support
          destination_repo: git@github.com:jsdrupal/drupal-admin-ui-support-dist.git
          ssh_key_fingerprint: "6c:c9:15:82:34:e7:30:e2:91:1b:ea:e2:06:b2:cf:e0"

      # This builds to https://github.com/jsdrupal/drupal-admin-ui-demo for the composer create-project demo
      # which is distributed from https://packagist.org/packages/jsdrupal/drupal-admin-ui-demo
      - run:
          name: Reset composer.json and composer.lock
          command: |
            docker exec -it drupal_admin_ui_drupal rm -f composer.json composer.lock
            docker exec -it drupal_admin_ui_drupal cp templates/composer.json composer.json
            docker exec -it drupal_admin_ui_drupal cp templates/composer.lock composer.lock
            docker exec -it drupal_admin_ui_drupal rm -rf templates
            docker exec -it drupal_admin_ui_drupal composer update justafish/drupal-admin-ui-support --lock
      - commit-and-push:
          message: "Auto update from master"
          files: ~/project/demo
          destination_repo: git@github.com:jsdrupal/drupal-admin-ui-demo.git
          ssh_key_fingerprint: "1e:cb:02:bc:68:40:3c:31:40:5f:45:b5:55:c8:02:24"

workflows:
  version: 2
  test:
    jobs:
      - test_node
      - test_drupal
      - dist:
          requires:
            - test_node
            - test_drupal
          filters:
           branches:
            only:
              - master
