aliases:
  - &default
    docker:
      - image: circleci/node:8-browsers

  - &node-modules-key
    v3-yarn-dependencies-{{ checksum "yarn.lock" }}

  - &build-key
    v3-build-{{ .Branch }}-{{ .Revision }}

  - &integration-build-key
    v3-integration-build-{{ .Branch }}-{{ .Revision }}

  - &restore-node-modules
    restore_cache:
      keys:
        - *node-modules-key

  - &restore-build
    restore_cache:
      keys:
        - *build-key

  - &restore-integration-build
    restore_cache:
      keys:
        - *integration-build-key

  - &fix-php-env
      run: |
          sudo apt-get install -y libpng-dev sqlite3
          sudo docker-php-ext-install gd
version: 2
jobs:
  build:
    <<: *default
    steps:
      - checkout
      - *restore-node-modules
      - run: yarn install
      - run: yarn build
      - save_cache:
          key: *node-modules-key
          paths:
            - node_modules
      - save_cache:
          key: *build-key
          paths:
            - build
  integration_build:
      docker:
        - image: circleci/php:7.1-fpm-node-browsers
      steps:
        - *fix-php-env
        - checkout
        - *restore-node-modules
        - *restore-build
        - run:
            name: Install Drupal
            command: |
                cd ../
                composer create-project jsdrupal/drupal-admin-ui-demo -s dev --prefer-dist
                cd drupal-admin-ui-demo
                composer setup
                composer devify
                rm -rf drupal-admin-ui
                mv ~/project drupal-admin-ui
        - save_cache:
            key: *integration-build-key
            paths:
              - ~/drupal-admin-ui-demo
  phpunit:
      docker:
        - image: circleci/php:7.1-fpm-node-browsers
      steps:
        - *fix-php-env
        - *restore-integration-build
        - run:
            name: Start Drupal and run PHPUnit tests
            command: |
                cd ~/drupal-admin-ui-demo
                composer start &
                sleep 10
                export SIMPLETEST_BASE_URL=http://localhost:8888
                export SYMFONY_DEPRECATIONS_HELPER=disabled
                ./vendor/bin/phpunit -c docroot/core --log-junit reports/phpunit.xml docroot/modules/contrib/drupal-admin-ui-support
        - store_test_results:
            path: ~/drupal-admin-ui-demo/reports
  nightwatch:
      docker:
        - image: circleci/php:7.1-fpm-node-browsers
      steps:
        - *fix-php-env
        - *restore-integration-build
        - run:
            name: Start Drupal and run Nightwatch tests
            command: |
                cd ~/drupal-admin-ui-demo
                composer start &
                sleep 10
                cd drupal-admin-ui
                export REACT_APP_DRUPAL_BASE_URL="http://127.0.0.1:8888"
                yarn start &
                sleep 20
                yarn test:functional
        - store_test_results:
            path: ~/drupal-admin-ui-demo/drupal-admin-ui/reports/nightwatch
        - store_artifacts:
            path: ~/drupal-admin-ui-demo/drupal-admin-ui/reports/nightwatch
  lint:
    <<: *default
    steps:
      - checkout
      - *restore-node-modules
      - *restore-build
      - run: yarn test:lint
      - store_test_results:
          path: reports

  unit:
    <<: *default
    steps:
      - checkout
      - *restore-node-modules
      - *restore-build
      - run: yarn test:unit
      - store_test_results:
          path: reports

  dist:
    <<: *default
    steps:
      - add_ssh_keys:
          fingerprints:
            - "82:b8:cc:fe:02:24:17:b1:31:ba:dc:30:e1:01:7a:df"
      - checkout
      - *restore-node-modules
      - *restore-build
      - run: |
          mv ~/project/build ~
          git config --global user.name "⬅️✌️➡️"
          git config --global user.email "no-reply@drupal.org"
          git clone git@github.com:jsdrupal/drupal-admin-ui-dist.git ~/build-repo
          mv ~/build-repo/.git ~/build/.git
          cd ~/build
          cp ~/project/.circleci/drupal-admin-ui--composer.json composer.json
          git add .
          if ! git diff-index --quiet HEAD --; then
              git commit -m "Auto build from master"
              git push origin master
          fi
  dist_support:
    <<: *default
    steps:
      - add_ssh_keys:
          fingerprints:
            - "6f:17:e5:59:16:41:04:82:3b:ba:fc:76:a7:b2:c8:6b"
      - checkout
      - *restore-node-modules
      - *restore-build
      - run: |
          mv ~/project/admin_ui_support ~
          git config --global user.name "⬅️✌️➡️"
          git config --global user.email "no-reply@drupal.org"
          git clone git@github.com:jsdrupal/drupal-admin-ui-support-dist.git ~/build-repo
          rm -rf ~/admin_ui_support/.git
          mv ~/build-repo/.git ~/admin_ui_support/.git
          cd ~/admin_ui_support
          cp ~/project/.circleci/drupal-admin-ui-support--composer.json composer.json
          git add .
          if ! git diff-index --quiet HEAD --; then
              git commit -m "Auto build from master"
              git push origin master
          fi

workflows:
  version: 2
  test:
    jobs:
      - build
      - integration_build:
          requires:
            - build
      - lint:
          requires:
            - build
      - unit:
          requires:
            - build
      - phpunit:
          requires:
            - integration_build
      - nightwatch:
          requires:
            - integration_build
      - dist:
          requires:
            - lint
            - unit
            - phpunit
            - nightwatch
          filters:
           branches:
            only:
              - master
      - dist_support:
          requires:
            - lint
            - unit
            - phpunit
            - nightwatch
          filters:
           branches:
            only:
              - master
